<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form action="{{url_for('forum')}}" method = "POST" enctype = "multipart/form-data">
            Name:<input type="text" name = "name"><br>
            Title:<input type="text" name = "title"><br>
            Text:<input type="text" name = "text"><br>   
            pic:<input type="file" id="myFile" name="img"><br>
                <input type="submit">
        </form>
        
        <script src="" async defer></script>
    </body>
</html>
